/* CIT 230 - Assignment Portal CSS Template */

/* * is a wildcard referring to all elements. */
*  { margin: 0; 
    box-sizing:  border-box; 
}
body {font-size: 16px;
      line-height: 32px;
      font-family: Ubuntu, sans-serif;
      color: black;
}
h1 {font-size: 20px;
    color: #ffffff;
}
h2 {font-size: 18px; 
    text-align: center;
    border-bottom: 1px solid #bbb;
}
header, main, footer {margin: 1.25rem auto;
                      padding: .5rem;
                      max-width: auto;
}
header, footer, footer a {text-align: center;
                          background-color: lightskyblue;
                          color: whitesmoke;
}
header img {width: 300px;
            height: auto;
            float: right;
}
footer {font-size: 14px;
}
